<app-nav-bar></app-nav-bar>
<p>
  venta-item-mostrar works!
</p>
<div class="container">
  <div class="card">
      <div class="card-header">
        <h3 align="center">
          Detalle - Venta
        </h3>
      </div>
      <div class="card-body">
          <table class="table table-hover table-borderless">
            <thead>
              <tr class="text-center">
                  <th>Vendedor</th>
                  <th>Cliente</th>
                  <th>Fecha</th>
                  <th>Monto Total</th>
              </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                  <td>{{ventaIdSeller}}</td>
                  <td>{{ventaIdClient}}</td>
                  <td>{{ventaDate}}</td>
                  <td>{{ventaTotal}}</td>
                </tr>
            </tbody>
          </table> 
          <table class="table table-hover">
            <thead>
              <tr class="text-center">
                <th>Id</th>
                <th>Id Venta</th>
                <th>Id Item</th>
                <th>Nombre Item</th>
                <th>Precio Item</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of arrayVentaItemDetalle" class="text-center">
                  <td>{{detalle.id}}</td>
                  <td>{{detalle.idSale}}</td>
                  <td>{{detalle.idItem}}</td>
                  <td>{{detalle.nameItem}}</td>
                  <td>{{detalle.priceItem}}</td>
                  <td>{{detalle.quantity}}</td>
                  <td> <button class="btn btn-warning">Editar</button> </td>
                  <td> <button class="btn btn-danger">Eliminar</button> </td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
